<h1>Welcome to Reddit</h1>

  <%= link_to 'Add a new post!', new_post_path %>

  <ul>
    <% @posts.each do |p| %>
  <li>
    <%= p.title %>
    <%=p.link %>
    <%= p.votes %>
  </li>
<% end %>

</ul>
