body {
  background-color: #DFE2DB;
}

.container {
  h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #7D1935;
    font-size: 50px;
  }
  h4 {
    font-family: 'Oswald', sans-serif;
    color: #4A96AD;
  }
}


  .form-group {
    max-width: 500px;
    margin: auto;
  }

  .well {
  background-color: #FFF056;
  font-family: 'Oswald', sans-serif;
  text-align: left;
  font-size: 16px;
  color: #191919;
  }
  a {
  color: #7D1935;
  font-family: 'Oswald', sans-serif;
  }
  .center {
  text-align: center;
  }
  .btn {
  margin-left: 15px;
  }
  .glyphicon {
    font-size: 20px;
    color: #7E8F7C;
  }
  .nav p{
      font-family: 'Oswald', sans-serif;
      display: inline;

    a{
      color: #7D1935;
      text-decoration: none;
      font-size: 20px;
      padding-top: 5%;
      padding-left: 5%;
    :hover {
    color: red;
  }
  }
  }
