body {
  background-color: #F2F2F3;
}

.container {
  text-align: center;
  h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #1FDA9A;
    font-size: 65px;
    text-align: left
  }
  h4 {
    font-family: 'Oswald', sans-serif;
    color: #E9BC1B;
    font-size: 25px;
  }
  .btn-signin {
    background-color: #1FDA9A;
    font-family: 'Oswald', sans-serif;
    color:  #F5EACD;
    font-size: 25px;
  }
}


  .form-group {
    max-width: 500px;
    margin: auto;
  }

  .well {
  background-color: #EE4B3E;
  font-family: 'Oswald', sans-serif;
  text-align: left;
  font-size: 18px;
  color: #E9BC1B;

  }
  a {
  color: #1FDA9A;
  font-family: 'Oswald', sans-serif;
  }
  .center {
  text-align: center;
  }
  .btn {
  margin-left: 15px;
  }

  .glyphicon {
    font-size: 25px;
    color: #F5EACD;
  }

  .nav p{
      font-family: 'Oswald', sans-serif;
      display: inline;
    a{
      color: #EE4B3E;
      text-decoration: none;
      font-size: 30px;
      padding: 125px;;
    }
  }

  .jumbotron {
    background-color: F2F2F3;
    h1 {
      font-family: 'Open Sans Condensed', sans-serif;
      color: #1FDA9A;
      font-size: 65px;
    }
    .label {
      font-family: 'Oswald', sans-serif;
      color: #E9BC1B;
      font-size: 25px;
    }
    .btn-signin {
      background-color: #EE4B3E;
      font-family: 'Oswald', sans-serif;
      color:  #F5EACD;
      font-size: 25px;
    }
    p {
      font-family: 'Oswald', sans-serif;
      color: #E9BC1B;
    }
  }
